<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${trainings} and ${trainings.size()}">no trainings yet</p>
<table class="table">

    <tr>
        <th>Training</th>
        <th>Description</th>
        <th>Rarity</th>
    </tr>

    <tr th:each="training : ${trainings}">
        <td th:text="${training.name}"></td>
        <td th:text="${training.description}"}></td>
        <td th:text="${training.rarity}"></td>
    </tr>

</table>

<a href="/training/add">Add Training</a> |
</body>
</html>