<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<h4>Post List:</h4>
<h5 th:text="'Need ' + ${form.rosterCount} + ' posts checked.'"></h5>

<form method="post" th:object="${form}" action="/schedule/edit-posts">

    <div class="form-group">
        <ul>
            <li th:each="post : ${form.allPosts}">
                <input type="checkbox"
                       th:field="${form.schedule.posts}"
                       th:value="${post.id}"/>
                <label th:for="posts"
                       th:text="${post.name}"></label>
            </li>
        </ul>
    </div>
    <input type="hidden" name="scheduleId" th:value="${form.schedule.id}"/>
    <input type="hidden" name="rosterCount" th:value="${form.rosterCount}">
    <input type="submit" value="Update Roster"/>
</form>

</body>
</html>